@import "../../theme/var";

.panel {
  .panel__header {
    display: flex;
    margin-bottom: 20px;

    .title {
      flex: auto;
      font-size: $font-size-xlarge;
    }

    .action {
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      font-size: $font-size-base;

      image {
        width: 12px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
  .panel__body {}
}
