@import "../../../app";

.subject-card {
  width: 330px;
  margin-bottom: 20px;

  .thumb {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: $border-radius;

    image {
      width: 330px;
      height: 184px;
    }

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
    }

    .tag {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .plays {
      position: absolute;
      bottom: 16px;
      left: 16px;
      display: flex;
      align-items: center;
      font-size: $font-size-xsmall;
      color: #fff;

      image {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }

  .title {
    margin-bottom: 6px;
    font-size: $font-size-base + 2;
    line-height: 1.4;
  }

  .footer {
    font-size: $font-size-small;

    .icon-time {
      margin-right: 12px;
      margin-bottom: 1px;
      width: 28px;
      height: 28px;
    }
  }
}
