@import "../../theme/var";

.page-user-change-phone {
  padding: 90px 70px 0;

  .title {
    margin-bottom: 16px;
    font-size: $font-size-small;
    text-align: center;
  }

  .countdown {
    margin-bottom: 40px;
    font-size: $font-size-small;
    text-align: center;
  }
}
