@import "../../app";

.page-auth {
  min-height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;

  .content {
    width: 100vw;
    padding: 0 10vw;

    image {
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      margin-bottom: 80px;
    }
    .title {
      margin-bottom: 40px;
      font-size: 46px;
    }
    .desc {
      margin-bottom: 70px;
      font-size: $font-size-base;
    }
    .btn-primary {
      flex: auto;
      margin-bottom: 30px;
    }
    .extend {
      font-size: $font-size-base;
    }
  }

}
