@import "../../../theme/var";

.player-desc-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 80px;
  height: 80px;

  &--fixed {
    position: fixed;
  }

  .btn {
    width: 48px;
    height: 48px;
    margin-top: 30px;
    margin-left: 32px / 2;
    background-color: rgba(#000, 0.2);
    border-radius: 100%;
  }
}

.video-desc-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.5);

  .body {
    width: 400px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;

    .header {
      width: 400px;
      height: 118px;
    }

    .content {
      min-height: 120px;
      padding: 24px 20px 20px;
      line-height: 1.4;
      text-align: center;
      background-color: #fff;
    }
  }

  &--fixed {
    position: fixed;

    .body {
      width: 500px;

      .header {
        width: 500px;
        height: 120px;
      }

      .content {
        white-space: pre-line;
      }
    }
  }
}
