@import "../../theme/var";

.page-user-order {
  .user-order-list {
    .item {
      margin-bottom: 20px;
      font-size: $font-size-small;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }

    .header {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 36px;
      border-bottom: 1px solid $border-color;

      .title {
        flex: 1 1 auto;
      }

      .link {
        flex: 0 0 auto;
      }
    }

    .body {
      display: flex;
      align-items: center;
      padding: 20px 36px;

      .left,
      .right {
        flex: 0 0 50%;
        line-height: 1.6;
      }

      .left {
        border-right: 1px solid $border-color;
        color: #333;
      }

      .right {
        padding-left: 80px;
      }

    }
  }
}
