@import "../../../theme/var";

.record-btn {
  position: relative;
  background-color: #fff;

  canvas {
    position: absolute;
    left: -100vw;
    width: 72px;
    height: 72px;
    visibility: hidden;
  }

  image {
    width: 72px;
    height: 72px;
  }

  .icon {
    position: absolute;
    top: 21px;
    left: 26px;
    width: 22px;
    height: 30px;
    z-index: 1;
  }
}
