@import "../../../app";

.order-item {
  position: relative;
  padding: 30px;
  border-bottom: 1px solid $border-color;
  background-color: #fff;

  .thumb {
    flex: 0 0 120px;
    height: 150px;
    margin-right: 26px;
    border-radius: $border-radius;
  }

  .title {
    margin-bottom: 8px;
    font-size: $font-size-base + 2;
    line-height: 1.4;
  }

  .desc {
    margin-bottom: 4px;
    font-size: $font-size-small;
    color: $text-gray;
  }

  .mark1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80px;
    height: 32px;
  }
}
