@import "../../../app";

.order-item {
  position: relative;
  padding: 30px;
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  &--mb {
    margin-bottom: 20px;
    border-bottom: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  .thumb {
    flex: 0 0 120px;
    height: 150px;
    margin-right: 26px;
    border-radius: $border-radius;
  }

  .title {
    margin-bottom: 8px;
    font-size: $font-size-base + 2;
    line-height: 1.4;
  }

  .desc {
    margin-bottom: 4px;
    font-size: $font-size-small;
    color: $text-gray;
  }

  .footer {
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 20px;
    border-top: 1px solid $border-color;
    font-size: $font-size-small;
    color: #555;
    button {
      margin: 0 0 4px 16px;
      line-height: 2;
    }
  }

  .mark1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80px;
    height: 32px;
  }
}
