@import "../../theme/var";

.page-user-content {
  .user-content-list {
    .item {
      display: flex;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: $border-radius;
      box-shadow: $box-shadow;

      .thumb {
        width: 230px;
        height: 140px;
        margin-right: 20px;
        border-radius: $border-radius;
      }

      .content {
        display: flex;
        flex: auto;
        flex-direction: column;

        .title {
          font-size: $font-size-base + 2;
        }

        .desc {
          margin-top: auto;
          font-size: $font-size-small;
          color: $text-gray;

          .times {
            display: flex;
            align-items: center;

            image {
              width: 28px;
              height: 28px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
