@import "../../app.scss";

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  background-position: center top;
  background-size: 100%;
  overflow: hidden;

  .content {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .left {
    display: flex;
    flex: 0 0 44px;
    align-items: center;
    height: 44px;
    margin-right: 10px;

    .back {
      width: 14px;
      height: 24px;
    }
  }

  .title {
    max-width: 60vw;
    font-size: $font-size-xlarge;
    font-weight: bold;
    color: #fff;
  }
}

.page-header-wrapper {
  position: relative;
}
