@import "../../theme/var";

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 101;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .left {
    display: flex;
    flex: 0 0 44px;
    align-items: center;
    height: 44px;
    margin-right: 6px;

    .back {
      width: 14px;
      height: 24px;
    }
  }

  .title {
    max-width: 60vw;
    margin-right: 6px;
    font-size: $font-size-xlarge;
    font-weight: bold;
    color: #fff;
  }

  .search {
    display: flex;
    align-items: center;
    width: 440px;
    height: 44px;
    padding: 0 20px;
    background-color: rgba(#fff, 0.5);
    border-radius: 44px;

    &--center {
      position: absolute;
      left: 50%;
      width: 310px;
      transform: translateX(-50%);
    }

    image {
      flex: 0 0 30px;
      width: 30px;
      height: 30px;
    }

    input {
      flex: auto;
      height: 44px;
      padding: 0 20px;
      font-size: $font-size-base;
      line-height: 44px;
      color: #fff;
    }
  }
}

.page-header-wrapper {
  position: relative;
}

.page-header-ext {
  z-index: 100;
}
