@import "../../app";

.page-baby-profile {
  .box {
    padding: 50px 70px;
    background-color: #fff;
    border-radius: $border-radius * 2;
    box-shadow: $box-shadow;
  }

  .title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;

    .edit {
      position: absolute;
      top: 6px;
      right: 0;
      width: 40px;
      height: 40px;

      image {
        width: 32px;
        height: 32px;
      }
    }
  }

  .form {
    .form-item {
      display: flex;
      align-items: center;
      height: 66px;
      margin-bottom: 30px;
      border-bottom: 1px solid $border-color;

      .label {
        flex: 0 0 auto;
        padding-left: 20px;
        margin-right: auto;
        font-size: $font-size-base;

        image {
          width: 42px;
          height: 42px;
        }
      }

      .value {
        flex: 0 0 auto;
        font-size: $font-size-base;

        input {
          font-size: $font-size-base;
          text-align: right;
        }
      }

      .link {
        flex: 0 0 12px;
        width: 12px;
        height: 20px;
        margin-left: 20px;
      }
    }

    &.disabled {
      .form-item {
        .value {
          color: $text-gray;
        }
      }
    }

    .btn-primary {
      margin-top: 60px;
    }
  }
}

.checkbox-group {
  display: flex;
  align-items: center;

  .checkbox {
    display: flex;
    align-items: center;
    margin-left: 40px;

    image {
      width: 30px;
      height: 30px;
      margin-right: 18px;
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border: 1px solid #444;
      border-radius: 24px;

      &__inner {
        width: 16px;
        height: 16px;
        background-color: #444;
        border-radius: 24px;
        opacity: 0;
        transition: opacity 200ms ease;
      }

      &.checked {
        .checkbox__input__inner {
          opacity: 1;
        }
      }
    }
  }
}
