@import "../../theme/var";

.page-buy-card {
  .box {
    padding: 80px 60px;
    background-color: #fff;
    border-radius: $border-radius * 2;
    box-shadow: $box-shadow;
  }

  .cards {
    display: flex;
    margin-bottom: 60px;
    margin-left: -18px;

    .card {
      display: flex;
      flex: 0 0 calc(33.33% - 18px);
      flex-direction: column;
      align-items: center;
      height: 190px;
      padding: 24px 0 20px;
      margin-left: 18px;
      border: 2px solid $blue;
      border-radius: $border-radius * 2;
      transition: all 200ms ease;

      .label {
        margin-bottom: 16px;
        font-size: $font-size-small;
        color: $blue;
      }

      .value {
        display: flex;
        flex: 1;
        font-size: $font-size-xlarge;

        .yuan {
          margin-top: 6px;
          margin-right: 4px;
          font-size: $font-size-small;
        }
      }

      .desc {
        font-size: $font-size-xsmall;
      }

      &.active {
        color: #fff;
        background-color: $blue;
        box-shadow: 0 8px 30px 4px rgba($blue, 0.4);
        .label { color: #fff; }
        .desc { color: rgba(#fff, 0.6); }
      }
    }
  }

  .summary {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;

    .label {
      margin-right: 16px;
      margin-bottom: 10px;
      font-size: $font-size-base;
    }

    .value {
      display: flex;
      font-size: 50px;
      color: $red;

      .yuan {
        margin-top: 8px;
        margin-right: 6px;
        font-size: $font-size-large;
      }
    }
  }

  .btn-primary {

  }
}

.page-buy-card-result {
  .info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;

    image {
      width: 464px;
      height: 252px;
    }
  }

  .page-space-around {
    padding: 30px 90px 0;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
  }

  .action {
    display: flex;
    justify-content: center;
    margin-left: -60px;

    .btn-primary {
      height: 80px;
      margin: 0 0 0 60px;
      font-size: $font-size-base;
      line-height: 80px;
      box-shadow: none;
    }
  }

  .tip {
    padding: 0 20px;
    margin-top: 80px;
    font-size: $font-size-small;
  }
}
