@import "../../../theme/var";

.record-btn {
  position: relative;
  background-color: #fff;

  canvas {
    position: absolute;
    left: -100vw;
    width: 72px;
    height: 72px;
    visibility: hidden;
  }

  .bar {
    position: absolute;
    width: 72px;
    height: 72px;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    z-index: 1;
    .icon {
      width: 20px;
      height: 29px;
    }
    .text {
      color: #fff;
      font-size: 20px;
    }
  }

}
