@import "../../theme/var";

.vip-card {
  position: relative;
  display: flex;
  height: 310px;
  padding: 40px 36px 36px;
  color: #62472d;
  background: linear-gradient(90deg, rgba(245, 225, 197, 1) 0%, rgba(241, 211, 151, 1) 100%);
  border-radius: $border-radius * 2;
  box-shadow: 0 4px 10px rgba(#000, 0.1);

  .crown {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 208px;
    height: 220px;
  }

  .mark {
    position: absolute;
    top: -9px;
    left: -6px;
    width: 118px;
    height: 48px;
  }

  .label {
    position: absolute;
    top: 26px;
    right: 26px;
    color: #fff;
    text-shadow: 0 0 4px rgba(#000, 0.1);
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: auto;
    }

    .desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 4px;
      font-size: $font-size-small;
      vertical-align: center;

      .date {
        margin-bottom: 8px;
      }

      .price {
        font-size: 40px;
      }

      .btn-active {
        min-width: 140px;
        height: 44px;
        line-height: 44px;
        color: #62472d;
        text-align: center;
        background: linear-gradient(90deg, #d9a381 0%, #f1dfcd 100%);
        border-radius: 44px;
        box-shadow: 0 2px 16px rgba(#000, 0.2);

        &--blue {
          color: #fff;
          background: linear-gradient(90deg, #C9914D 0%, lighten(#B77737, 10%) 100%);
          box-shadow: 0 2px 16px rgba(#B77737, 0.2);
        }
      }
    }
  }

  &--dark {
    background: linear-gradient(90deg, #393939 0%, #595959 100%);

    .crown {
      opacity: 0.2;
    }

    .content {
      color: #fff;
    }
  }

  &--pink {
    background: transparent;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 600px;
      height: 310px;
    }

    .content {
      color: #fff;
    }
  }
}
