@import "../../app";

.page-subject {
  .tabs-container {
    height: 94px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

    image {
      width: 750px;
      height: 300px;
    }
  }

  .tabs {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 30px;
    overflow-x: auto;
    .tab-item {
      position: relative;
      flex: auto;
      display: flex;
      align-items: flex-end;
      height: 64px;
      padding-bottom: 12px;
      margin-right: 50px;
      white-space: nowrap;
      color: rgba(#fff, 0.9);
      font-size: $font-size-base - 2;

      &::after {
        display: none;
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        width: 1.8em;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;
        content: '';
      }

      &.active {
        font-size: $font-size-large;
        color: #fff;
        &::after {
          display: block;
        }
      }
    }
  }

  .grid-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    subject-card {
      flex: 1 1 calc(50% - 30px);
      margin-left: 30px;
    }
  }
}
