@import "../../theme/var";

page {
  background-color: #f8f8f8;
}

.page-payment-log {
  .user-payment-list {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    .item {
      display: flex;
      align-items: center;
      margin: 20px 0;

      .content {
        flex: auto;

        .title {
          font-size: $font-size-small;
        }

        .desc {
          font-size: 22px;
        }
      }

      .value {
        font-size: $font-size-small;
      }
    }
  }
}
