@import "../theme/var";

.tabbar {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  box-sizing: content-box;
  display: flex;
  align-items: flex-end;
  height: 100px + 20px;
  padding-bottom: $safe-area-bottom;

  .safe-area {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $safe-area-bottom;
    background-color: #fff;
  }

  .content {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 100px;
    padding: 0 20px;
    background-color: #fff;
    border-top: 1px solid $border-color;
  }

  .item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: $font-size-small - 1;
    color: #999;

    &.active {
      color: $blue;
    }

    cover-image {
      margin-bottom: 10px;
    }
  }

  .scan-item {
    order: 1;
    width: 84px;
    height: 84px;
  }

  .scan {
    position: absolute;
    bottom: calc(36px + #{$safe-area-bottom});
    left: 50%;
    z-index: 2001;
    transform: translateX(-50%);

    .scan-btn {
      z-index: 2002;
      width: 84px;
      height: 84px;
      background-color: $blue;
      border-radius: 100%;
    }
  }
}
