@import "../../theme/var";

page {
  background-color: #f8f8f8;
}

.page-payment-log {

  .user-payment-list {
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .item {
      margin: 20px 0;
      display: flex;
      align-items: center;
      .content {
        flex: auto;
        .title {
          font-size: $font-size-small;
        }
        .desc {
          font-size: 22px;
        }
      }
      .value {
        font-size: $font-size-small;
      }
    }
  }
  }
