@import "../../theme/var";

.page-shelf-books {
  .page-space-wing {
    padding-top: 10px;
  }

  .list {
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  .footer {
    margin-bottom: calc(140px + #{$safe-area-bottom});
  }
}
