@import "theme/var";
@import '~taro-ui/dist/style/components/modal.scss';

view,
cover-view {
  box-sizing: border-box;
}

image {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-auto {
  flex: 0 0 auto;
}

.align-start {
  align-items: flex-start;
}

.primary {
  color: $blue;
}

.danger {
  color: $red;
}

.success {
  color: $green;
}

.text-second {
  color: $text-gray;
}

.with-image-bg {
  position: relative;
  z-index: 100;
  width: 100vw;
  overflow: hidden;

  .brand-image {
    position: absolute;
    width: 750px;
    height: 305px;
    background-color: $blue;
  }
}

.page-space-wing {
  padding-right: 30px;
  padding-left: 30px;
}

.page-space-around {
  padding: 30px;
}

.tag {
  display: inline-block;
  padding: 4px 14px;
  font-size: $font-size-xsmall;
  color: $blue;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $blue;
  border-radius: $border-radius;

  &--primary {
    color: #fff;
    background-color: $blue;
  }
}

.btn-primary {
  color: #fff;
  background-color: $blue;
  border: none;
  box-shadow: 0 4px 16px rgba($blue, 0.4), 0 8px 20px 6px rgba($blue, 0.2);
  &--plain {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid $blue;
    color: $blue;
  }
}

//
.user-active-modal {
  .at-modal__container {
    top: 40%;
    width: 378px;
    overflow: visible;
  }

  @at-root {
    &__top {
      position: absolute;
      top: -84rpx;
      left: 50%;
      width: 384px;
      height: 188px;
      transform: translateX(-50%);
    }
    &__top2 {
      position: absolute;
      top: -68rpx;
      left: 54%;
      width: 194px;
      height: 154px;
      transform: translateX(-50%);
    }

    &__content {
      padding: 140px 36px 40px;
      .title {
        margin-bottom: 12px;
        font-size: $font-size-base - 2;
        text-align: center;
      }
      .text {
        font-size: $font-size-small;
        text-align: justify;
      }
    }
    &__content2 {
      padding-top: 110px;
    }

    &__close {
      position: absolute;
      bottom: -76px;
      left: 50%;
      transform: translateX(-50%);
      image {
        width: 44px;
        height: 86px;
      }
    }
  }
}
