@import "theme/var";

view {
  box-sizing: border-box;
}

image {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-auto {
  flex: 0 0 auto;
}

.align-start {
  align-items: flex-start;
}

.primary {
  color: $blue;
}

.danger {
  color: $red;
}

.success {
  color: $green;
}

.text-second {
  color: $text-gray;
}

.with-image-bg {
  position: relative;
  width: 100vw;
  overflow: hidden;

  .brand-image {
    position: absolute;
    width: 750px;
    height: 305px;
    background-color: $blue;
  }
}

.page-space-wing {
  padding-right: 30px;
  padding-left: 30px;
}

.page-space-around {
  padding: 30px;
}

.tag {
  display: inline-block;
  padding: 4px 14px;
  font-size: $font-size-xsmall;
  color: $blue;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $blue;
  border-radius: $border-radius;

  &--primary {
    color: #fff;
    background-color: $blue;
  }
}

.btn-primary {
  color: #fff;
  background-color: $blue;
  border: none;
  box-shadow: 0 4px 16px rgba($blue, 0.4);
}
