@import "../../../app.scss";

.subject-list-item {
  margin-bottom: 16px;
  border-radius: $border-radius;
  box-shadow: 0 4px 16px rgba(#000, 0.1);

  .main {
    padding: 24px 20px;
  }

  .thumb {
    width: 226px;
    height: 126px;
    margin-top: 6px;
    margin-right: 16px;
  }

  .title {
    margin-bottom: 4px;
  }

  .desc {
    margin-bottom: 6px;
    font-size: $font-size-small;
  }

  .footer {
    padding: 24px 20px;
    font-size: $font-size-base;
    border-top: 1px solid #f5f7f9;
  }
}
