@import "../../../app";

.comment-list {
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.comment {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;

  .header {
    .thumb {
      flex: 0 0 72px;
      height: 72px;
      margin-top: 4px;
      margin-right: 20px;
      border-radius: 100%;
    }

    .title {
      margin-bottom: 4px;
      font-size: $font-size-base;
    }

    .desc {
      font-size: $font-size-small;
    }
  }

  .body {
    padding: 20px 0;
    font-size: $font-size-small;
  }
}

.action-bar {
  position: fixed;
  bottom: 30px;
  left: 0;
  z-index: 10;
  width: 100vw;
  padding: 0 30px $safe-area-bottom;

  .form {
    display: flex;
    align-items: center;
    height: 100px;
    overflow: hidden;
    background-color: #fff;
    border-radius: $border-radius * 2;
    box-shadow: 0 4px 20px rgba(#000, 0.2);
  }

  input {
    flex: auto;
    height: 100px;
    padding: 0 30px;
    font-size: $font-size-base;
  }

  .send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-right: 30px;
    background-color: #e2f0ff;
    border-radius: $border-radius * 2;

    image {
      width: 31px;
      height: 29px;
    }
  }
}
