@import "../../theme/var";

.message-modal {
  &__container {
    padding: 60px 50px;
    .main {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
      margin-bottom: 40px;
      .title {}
      .content {}
    }
    .footer {
      display: flex;
      justify-content: space-around;
      button {
        min-width: 170px;
        line-height: 2;
        font-size: $font-size-large;
        color: #333;
        text-align: center;
        border: none;
        border-radius: 40px;
        background: $border-color;
        &::after {
          display: none;
        }

        &.btn-primary {
          background-color: $blue;
          color: #fff;
        }
      }
    }
  }
}
